body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 30px 40px;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.paragraph {
    
    margin-bottom: 20px;
}

.btn-container {
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    outline: none;
}

.btn-accept {
    background-color: #4caf50;
    color: #ffffff;
}


